<div class="row mt-5 mx-0 px-0">
  <div class="col-4">
    <%= link_to 'Back', root_path, class: 'text-primary fw-bold' %><br />
    <h2 class="text-center text-secondary fs-1 fw-bold my-5">Create Account</h2>
    <div class="row mb-3 mt-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="my-4">
          <%= f.label :name, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Your first name', class: 'form-control' %>
        </div>

        <div class="my-4">
          <%= f.label :surname, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.text_field :surname, autofocus: true, autocomplete: "surname", placeholder: 'Your last name', class: 'form-control' %>
        </div>

        <div class="my-4">
          <%= f.label :email, class: 'form-label fs-4 fw-bold' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example-email@domain.com', class: 'form-control' %>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: 'fs-4 form-label fw-bold' %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password',class: 'form-control' %>
          <div class="form-text">
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %> characters minimum)
            <% end %>
          </div>
        </div>

        <div class="mb-5">
          <%= f.label :password_confirmation, class: 'fs-4 form-label fw-bold' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'Password confirmation',class: 'form-control' %>
        </div>

        <div class="d-grid gap-2 mb-3 mt-5">
          <%= f.submit "Sign Up", class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
    <div class="row text-center justify-content-center">
      <p class="text-secondary fs-6 fw-bold mb-0">Do you already have an account?</p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-8 mx-0 px-0 mb-5 my-0">
    <%= image_tag 'registrations/new_registration_image.jpg', class: 'img-fluid rounded', size: '1280x1920' %>
  </div>
</div>
