<div class="row">
  <%= render 'options' %>
  <div class="col-10">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-dark fw-bold ms-4 mt-4">Welcome <%= current_user.fullname %></h1>
        <hr class="border border-primary border-3 opacity-75 ">
      </div>
    </div>
    <div class="row mt-4 ps-5">
        <div class="col">
            <%= render 'users_count' %>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
            <%= render 'drinks_count' %>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
            <%= render 'snacks_count' %>
        </div>
    </div>
    <div class="row my-3 ps-5">
        <div class="col">
          <%= render 'promos_count' %>
        </div>
    </div>
  </div>
</div>
