<div class="row">
  <div class="col-2 bg-light vh-100 ">
    <h1 class="text-center fs-3 fw-bold my-5">Options</h1>
    <ul class="list-group list-group-flush mt-5 ">
      <li class="list-group-item text-center bg-primary rounded mb-3"><%= link_to 'Dashboard', dashboard_admins_path, class: 'text-white text-decoration-none fs-4 fw-bold' %></li>
      <li class="list-group-item text-center bg-primary rounded mb-3"><%= link_to 'New Drink', new_drink_admins_path, class: 'text-white text-decoration-none fs-4 fw-bold' %></li>
      <li class="list-group-item text-center bg-primary rounded mb-3"><%= link_to 'New Snack', new_snack_admins_path, class: 'text-white text-decoration-none fs-4 fw-bold' %></li>
      <li class="list-group-item text-center bg-primary rounded mb-3"><%= link_to 'New Promo', new_promo_admins_path, class: 'text-white text-decoration-none fs-4 fw-bold' %></li>
    </ul>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-dark fw-bold ms-4 mt-4">Welcome <%= current_user.fullname %></h1>
        <hr class="border border-primary border-3 opacity-75 ">
      </div>
    </div>
    <div class="row my-3 ps-5">
      <div class="col">
        <h1 class="text-secondary fw-bold">Snacks info</h1>
        <p class="fs-2 fw-bold">You are offering currently 6 different Snacks!</p>
      </div>
    </div>
    <div class="row my-5 ps-5">
      <div class="col-6">
        <h3 class="text-secondary fw-bold">Create new Snack</h3>
        <form action="new_drink" method="post">
          <div class="my-3">
            <label class="form-label fs-4 fw-bold" for="">Name</label>
            <input class="form-control" type="text" name="" id="">
          </div>

          <div class="my-3">
            <label class="form-label fs-4 fw-bold" for="">Description</label>
            <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
          </div>

          <div class="my-3">
            <label class="form-label fs-4 fw-bold" for="">Ingredients</label>
            <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
          </div>

          <div class="my-3">
            <label class="form-label fs-4 fw-bold" for="">Price</label>
            <input class="form-control" type="number" name="" id="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
