<div class="row">
  <div class="col">
    <div class="text-center">
      <h1 class="fw-bold">DRINKS</h1>
      <h2>We have a variety of drinks you can taste, from a single cold beer to some cocktails to taste them.</h2>
    </div>
    <div class="row justify-content-between my-4">
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/beers.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Beer</h5>
            <p class="card-text">
              Would you like a cold beer? <br />
              We have a variety of beer brands you can taste like: Corona, Victoria, Carta Blanca, Henineken, ...
            </p>
            <a href="#" class="btn btn-primary">Show Beer catalog</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/brandy.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Brandy</h5>
            <p class="card-text">
              Are you more of brandy? <br />
              We can offer to you some Brandy based drinks for a reax time. 
            </p>
            <a href="#" class="btn btn-primary">Show Brandy catalog</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/vodkas.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Vodka</h5>
            <p class="card-text">
              Do you preffer a hit-hard drink? <br />
              With our vodka's drinks, you get a great drink in all angles. From classic drinks to some cool vodka cocktails. 
       them      </p>
            <a href="#" class="btn btn-primary">Show Vodka Catalog</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between my-4">
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/tequila.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Tequila</h5>
            <p class="card-text">
              Who wants some shots? <br />
              We can offer to you some classic Margaritas, or if you want also we have some delicious Tequila base cocktails.
            </p>
            <a href="#" class="btn btn-primary">Show Tequila catalog</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/rum.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Rum</h5>
            <p class="card-text">
              Are you looking for a "Cuba libre" drink like? <br />
              With our variety of Rum flavors, we can offer to you excelent Rum base drinks.
            </p>
            <a href="#" class="btn btn-primary">Show Rum catalog</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/whiskey.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Whiskey</h5>
            <p class="card-text">
              Do you want a Whiskey base cocktail?<br />
              Enjoy or Whiskey based cocktails or a classic Whiskey on rocks to spend a good time.
            </p>
            <a href="#" class="btn btn-primary">Show Whiskey catalog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
