<div class="row">
  <div class="col">
    <div class="text-center">
      <h1 class="fw-bold">SNACKS</h1>
      <h2>We have some delicious snacks to complement you favourite drink like: chicken wings, boneless, onion, rings, ... </h2>
    </div>
    <div class="row justify-content-between my-4">
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/chicken_wings.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Wings</h5>
            <p class="card-text">
              A classic snack<br />
              Our chicken wings have a special flavour due to our owns sauces: mango-habanero, garlic-parmesan, ...
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/boneless.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Boneless</h5>
            <p class="card-text">
              Do you prefer no bones? <br />
              The boneless we can offer to you are in-house prepared, and we can cover with our special sauces. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/french_fries.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">French fries</h5>
            <p class="card-text">
              Do you want some French? <br />
              We can offer to you an order of french-fries, to dip meanwhile you finish you drink, talk with your friends or read a book.
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between my-4">
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/onion_rings.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Onion rings</h5>
            <p class="card-text">
              Are you looking some circle-shape?<br />
              We have onions rings for you, another classic snack meanwhile you are having your drink or watching some game.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/mozarella_sticks.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Cheese Sticks</h5>
            <p class="card-text">
              1, 2, 3 Say cheese! <br />
              The cheese fingers are a good snack to eat, its delicious and can combine with almost all kind of drinks
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <%= image_tag 'cards/tacos.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title">Tacos</h5>
            <p class="card-text">
              Some more Mexican?<br />
              We could prepare for you an order of delicious Tacos you can enjoy with your favourite drink.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
